@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic");
@font-face {
  font-family: 'UA-brand-Bold';
  src: local("UA-brand-Bold"), url("https://nomail.com.ua/files/woff/199c0c608887f79b8e5684f3b89af3d5.woff") format("woff");
}

@font-face {
  font-family: 'UA-brand-Black';
  src: local("UA-brand-Black"), url("https://nomail.com.ua/files/woff/3eb4c9799d3a51f9e603ae67a9a44f47.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 1920px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background: #074261;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.events {
  padding: 60px 15px;
}

.events__caption {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.events__title {
  font-family: 'UA-brand-Bold', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 31px;
  color: #ffffff;
}

.events__reference {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.events__reference i {
  font-size: 20px;
  margin-right: 10px;
}

.form {
  display: flex;
  justify-content: space-between;
}

.form .search__input {
  width: calc(576 / 1170 * 100%);
}

.form .date__input {
  width: calc(120 / 1170 * 100%);
  position: relative;
}

.form .date__input .form__field {
  padding-left: 35px;
}

.form .place__input {
  width: calc(186 / 1170 * 100%);
  position: relative;
}

.form .place__input .form__field {
  color: #000000;
  font-weight: 400;
  padding-left: 35px;
}

.form .place__input .form__field::placeholder {
  color: #000000;
}

.form i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #b3b3b3;
  pointer-events: none;
}

.form__field {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 45px;
  color: #b3b3b3;
  padding-left: 15px;
  border: none;
  outline: none;
  transition: box-shadow 0.5s ease;
}

.form__field:focus {
  box-shadow: 0 0 5px 2px #3d5ed8;
}

.form__field:invalid {
  box-shadow: 0 0 5px 2px #ee7a30;
}

.form__button {
  background: #3d5ed8;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  outline: none;
  width: calc(260 / 1170 * 100%);
  transition: background 0.5s ease;
}

.form__button:hover {
  background: #2646bc;
}

.content {
  position: relative;
}

.content__data {
  border-radius: 50%;
  background: #ff3546;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.content__data:hover {
  background: #ffffff;
  color: #ff3546;
}

.content__data b {
  font-family: 'UA-brand-Black', sans-serif;
}

.content__data span {
  font-family: 'UA-brand-Bold', sans-serif;
}

.content__data--large {
  width: 110px;
  height: 110px;
}

.content__data--large b {
  font-size: 32px;
  line-height: 40px;
}

.content__data--large span {
  font-size: 16px;
  line-height: 16px;
}

.content__data--small {
  width: 50px;
  height: 50px;
}

.content__data--small b {
  font-size: 16px;
  line-height: 20px;
}

.content__data--small span {
  font-size: 10px;
  line-height: 10px;
}

.content__data--light {
  background: #e9eefa;
  color: #a4b4ec;
  border: 2px solid #a4b4ec;
}

.content__data--light:hover {
  background: white;
  color: #a4b4ec;
  border: 5px solid #a4b4ec;
}

.content__data--light span {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.content__item {
  position: relative;
}

.content__item .content__data--inside {
  position: absolute;
  left: 10px;
  top: 10px;
}

.content__item--hero {
  width: 390px;
  height: 390px;
  padding-top: 175px;
}

.content__item--large {
  width: 255px;
  height: 255px;
  padding-top: 115.5px;
}

.content__item--small {
  width: 180px;
  height: 180px;
  padding-top: 80px;
}

.content__item--small .content__data--inside {
  left: -3px;
}

.content__reference {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.content__reference img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  background: #042d41;
  transition: box-shadow 0.5s ease;
}

.content__reference:hover img {
  box-shadow: 0px 5px 7px 2px rgba(255, 255, 255, 0.75);
}

.content__name {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  padding: 6px 18px;
  z-index: 1;
  background: #ee7a30;
}

.content__title {
  margin: 10px;
  font-family: 'UA-brand-Black', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
}

.content__title--hero {
  font-size: 25px;
}

.content svg {
  z-index: 1;
}

.slider__page {
  position: relative;
  min-height: 440px;
}

.slider__page > div {
  position: absolute;
}

.slider__page > div:nth-of-type(1) {
  left: -20px;
  top: 254px;
}

.slider__page > div:nth-of-type(2) {
  left: 27px;
  top: 30px;
}

.slider__page > div:nth-of-type(3) {
  left: 293px;
  top: 45px;
}

.slider__page > div:nth-of-type(4) {
  left: 157px;
  top: 186px;
}

.slider__page > div:nth-of-type(5) {
  left: 440px;
  top: 280px;
}

.slider__page > div:nth-of-type(6) {
  left: 454px;
  top: 5px;
}

.slider__page > div:nth-of-type(7) {
  left: 603px;
  top: 261px;
}

.slider__page > div:nth-of-type(8) {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.slider__page > div:nth-of-type(9) {
  right: 632px;
  top: 31px;
}

.slider__page > div:nth-of-type(10) {
  right: 511px;
  top: 174px;
}

.slider__page > div:nth-of-type(11) {
  right: 392px;
  top: 21px;
}

.slider__page > div:nth-of-type(12) {
  right: 349px;
  top: 237px;
}

.slider__page > div:nth-of-type(13) {
  right: 109px;
  top: 3px;
}

.slider__page > div:nth-of-type(14) {
  right: 53px;
  top: 255px;
}

.slider__page > div:nth-of-type(15) {
  right: -25px;
  top: 138px;
}

.slider__navigation {
  width: 100%;
  margin: 60px 0 50px;
  display: flex;
}

.slider__navigation-button {
  width: calc(1 / 6 * 100%);
  height: 45px;
  border: none;
  outline: none;
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.slider__navigation-button--active {
  color: white;
  border-top: 3px solid white;
}

.slider__arrow-button {
  position: absolute;
  top: 150px;
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.slider__arrow-button--prev {
  left: 275px;
}

.slider__arrow-button--next {
  right: 285px;
}

.slider__arrow-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

/*# sourceMappingURL=main.css.map */